#product_category_jumbo_menu{
    background-color: gray;
    height: calc(100vh - 105px);
    // display: none;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    top: 105px;

    &.active{
        // display: block;
        opacity: 1;
        visibility: visible;
    }
    .product_list_menu{
        border-top: 1px solid var(--primary);

        .overly{
        background-color: var(--white);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
            .product_categorys{
                display: flex;
                .category_list{
                    width: 290px;
                    // border: var(--border);
                    border-right: 1px solid rgba(128, 128, 128, 0.5);
                    padding: 24px 16px;
                    ul{
                        li{
                            margin-bottom: 16px;
                             a{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                color: var(--balack);
                                font-size: 18px;
                            .svg_icon{
                                height: 24px;
                                width: 24px;
                            }
                            .text{
                                &:hover{
                                    color: var(--primary);
                                }
                            }  
                        }
                            
                        }
                         
                    }
                }
               .sub_category_list{
                display: flex;
                flex: 1;
                justify-content: space-between;
                .subcategory{
                width: 260px;
                // border: var(--border);
                margin-left: 15px;
                ul{
                    li{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                color: var(--black);
                                padding: 5px;
                                &:hover{
                                    color: var(--primary);
                                }
                    }
                        .view_all{
                            a{
                                color: var(--primary);
                                font-size: 16px;
                                }
                        }
                }  
                }
                .top-products{
                // border: var(--border);
                flex: 1;
                .close{
                    text-align: right;
                    padding: 10px 15px 0px 0px;
                    a{
                        background-color: var(--primary);
                        color: white;
                        padding: 10px 20px;
                        border-radius: 4px;
                        margin-bottom: 3px;
                    }
                }

                    .nav_product_item{
                        display: flex;
                        gap: 16px;
                        justify-content: flex-end;
                        padding: 24px;
                    .nav_product{
                        width: 150px;
                        // border: var(--border);
                        padding: 8px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 5px rgba(52, 50, 50, 0.468);
                        img{
                            margin-bottom: 16px;
                        }
                        a{
                            h4{
                               font-size: 16px; 
                               color: var(--black);
                            }
                        }
                    }
                        
                    }

                }
               } 
            }
        }
    }


    // responsive

    

    @include custom_media(0px, 991.9px){
        z-index: 9999;
    .product_list_menu{
        .overly{
            max-width: 400px;
            width: 100%;
            .product_categorys{
                flex-direction: column;
                .category_list{
                    padding-bottom: 0;
                    border-right: 0px;
                }
                .sub_category_list{
                    flex-direction: column;
                    flex: unset;
                    .top-products{
                        .nav_product_item{
                            display: none;
                        }
                        .close{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    
    }
}


